
.export_btn,.search_btn {
    background: #364f49;
    border: none;
}
.export_btn:hover,.search_btn:hover{
    background: #141655;
}
.dropdown_btn {
    background: none !important;
    border: none;
    color: blue;
    font-size: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown_btn1:hover {
    color: blue !important;
}

.input[type=text],.search1 button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    background-color: rgb(40, 110, 176);
  }
  .input[type=text] {
    border: 1px solid #ccc;  
  }