header{
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
    background-color: rgb(40, 110, 176);
}

header nav{
    max-width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2{
    color:#ffffff;
    text-decoration: none;
}

header nav .avtar{
    cursor: pointer;
}
